
!.env.example
.DS_Store
.env
.env.*
.output
.roundtrip/
.schema-out/
.vercel
/.svelte-kit
/build
/package
dist/
memory-bank/
node_modules
test/fixtures/local/
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
